# Static site changes are changed files in a PR, but their diffs will be collapsed by default
docs/**/*.html linguist-generated=true
docs/**/*.js linguist-generated=true
docs/**/*.txt linguist-generated=true
