[workspace]
resolver = "2"
members = ["crates/roc_host", "crates/roc_host_lib", "crates/roc_host_bin"]

[profile.release]
lto = true
strip = "debuginfo"
# Enabling this triggered a segmentation fault (see issue github.com/roc-lang/roc/issues/6121).
# That issue is notoriously fickle, so disableing this may just happen to shuffle the code enough to avoid it.
# Try re-enableing this again in the future after some code changes, it may no longer trigger this issue.
# Setting it to 1 should improve execution speed by making things easier to optimize for LLVM.
# codegen-units = 1

[workspace.dependencies]
roc_std = { git = "https://github.com/roc-lang/roc.git" }
roc_std_heap = { git = "https://github.com/roc-lang/roc.git" }
